<mat-card>
    <h3 *ngIf="isLoading"><i>Loading heroes ... </i></h3>
    <h3 *ngIf="!isLoading">Select a hero:</h3>

    <div class="hero-list-section">
        <button class="refresh-button" (click)="getHeroes()" mat-raised-button>Refresh</button>
        <mat-nav-list [ngClass]="{'hero-list': true}">
            <a mat-list-item (click)="select(hero)" *ngFor="let hero of heroes | async"> {{ hero.name }} </a>
        </mat-nav-list>
    </div>

    <div class="hero-detail-section">
        <div *ngIf="selectedHero">
            <app-hero-detail [hero]="selectedHero"></app-hero-detail>
        </div>
    </div>

    <div class="clear-fix"></div>

</mat-card>
