mat-card {
    width: 80%;
    margin: 20px auto;
    background-color: rgb(245, 245, 247);
}

mat-form-field {
    display: block;
    margin: 5px auto;
    width: 400px;
}

.address-header {
    display: inline-block;
    position: relative;
    left: 20%;
    font-weight: 500;
    line-height: 24px;
    vertical-align: middle;
    color: #004c8c;
}

.delete-lair {
    vertical-align: middle;
    position: relative;
    left: 22%;
    color: rgb(107, 4, 4);
    cursor: pointer;
    transition: 0.25s all ease-in-out;
}

.delete-lair:hover {
    color: rgb(187, 7, 7);
    cursor: pointer;
}

.add-secret-lair-button {
    position: relative;
    left: 60%;
    background-color: white;
    color: #004c8c;
    border-color: #004c8c;
}

.code-block {
    background: rgb(83, 83, 85);
    color: rgb(255, 255, 255);
    max-width: 100%;
    padding: 10px;
    font-size: 12px;
}

.hero-detail-actions {
    margin-top: 20px;
}

.save-button {
    position: relative;
    left: 20%;
    color: white;
    background-color: #004c8c;
}

.revert-button {
    position: relative;
    left: 60%;
}
