<mat-card>
    <div>
        <h2 style="color: #004c8c;">Hero Detail</h2>
    </div>
    <div style="font-family: roboto, serif; font-weight: 300; color: #004c8c;">Editing: <span style="font-weight: 700;">{{hero.name}}</span></div>
    <form class="example-form" [formGroup]="heroForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Hero Name" formControlName="name">
        </mat-form-field>
        <div formArrayName="secretLairs">
            <div class="secret-lairs">
                <div *ngFor="let addressGP of secretLairs.controls; let i = index" [formGroupName]="i">
                    <p class="address-header">Address {{i+1}} </p>
                    <button mat-icon-button (click)="removeLair(i)" class="delete-lair">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <div style="margin-left: 2rem; font-size: 13px;">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Street" formControlName="street">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="City" formControlName="city">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>State</mat-label>
                            <mat-select formControlName="state">
                                <mat-option *ngFor="let state of states" [value]="state">
                                {{state}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Zip Code" formControlName="zip">
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <button class="add-secret-lair-button" type="button" (click)="addLair()" mat-stroked-button>Add a Secret Lair</button>
        </div>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Super Power" formControlName="superpower">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Sidekick" formControlName="sidekick">
        </mat-form-field>

        <div class="hero-detail-actions">
            <button class="save-button" [disabled]="heroForm.pristine" type="submit" mat-raised-button color="primary">Save</button>
            <button class="revert-button" [disabled]="heroForm.pristine" (click)="revert()" mat-raised-button color="warn">Revert</button>
        </div>

        <div style="display: none;">
            <h4>Name change log:</h4>
            <p *ngFor="let name of nameChangeLog">{{name}}</p>
        </div>


        <!-- <div [ngClass]="{'code-block': true}">
            <p>{{heroForm.value | json}}</p>
            <p>Form Status: {{heroForm.status | json}}</p>
            <p>Hero name: {{heroForm.get('name').value}}</p>
        </div> -->
    </form>
</mat-card>
